.parallax {
  background-image: url("/images/background-dark.jpeg");
  min-height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.apat {
    color: whitesmoke;
    padding: 5px 5%;
    text-align: center;
    font-size: 25px;
    height: 200px;
}

.apat h1 {
    padding-top: 70px;
}