/*DKV-Parallax*/
.parallax {
  background-image: url("/images/background-dark.jpeg");
  min-height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dkv {
    color: whitesmoke;
    padding: 5px 5%;
    text-align: center;
    font-size: 25px;
    height: 200px;
}

.dkv h1 {
    padding-top: 70px;
}

/*DKV-BODY*/
.logo-dkv {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px 5%;
}

.logo-dkv img {
    width: 200px;
    height: auto;
}

.deskripsi-dkv {
    color: #333;
    padding: 20px 10%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 5%;
    border-radius: 10px;
}

.deskripsi-dkv h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;
}

.deskripsi-dkv p {
    margin-bottom: 15px;
}

.garis {
    border: none;
    height: 4px;
    background-color: #1e3a8a;
    margin: 20px;
    margin-bottom: 25px;
}

.kompetensi-dkv {
    color: #333;
    padding: 20px 10%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 5%;
    border-radius: 10px;
}

.kompetensi-dkv h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;
}

.kompetensi-dkv ul {
    margin-bottom: 15px;
    margin-left: 20px;
}

.kompetensi-dkv ul li {
    margin-bottom: 10px;
}

.garis {
    border: none;
    height: 4px;
    background-color: #1e3a8a;
    margin: 20px;
    margin-bottom: 25px;
}

.peluang-dkv {
    color: #333;
    padding: 20px 10%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 5%;
    border-radius: 10px;
}

.peluang-dkv h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;
}

.peluang-dkv ul {
    margin-bottom: 15px;
    margin-left: 20px;
}

.peluang-dkv ul li {
    margin-bottom: 10px;
}

.garis {
    border: none;
    height: 4px;
    background-color: #1e3a8a;
    margin: 20px;
    margin-bottom: 25px;
}