/*==========================================
                EKSKUL-PARALLAX
==========================================*/
.hero {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    text-align: center;
    color: white;

    /* --- Parallax --- */
    background-image: url("/images/background-dark.jpeg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.eskul {
    position: relative;
    z-index: 2; 
    max-width: 800px;
    padding: 20px;
}

.eskul h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    line-height: 1.2;
}

/*==========================================
                ORGANISASI-BODY
==========================================*/
/* --- Paskib --- */
.content-paskib {
    color: #333;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 4%;
    margin-top: 50px;
    border-radius: 10px;
}

.content-paskib h1, .logo-paskib {
    text-align: center;
    padding-top: 15px;
    background-color: #f4f4f4;
}

.content-paskib h1 {
    color: #0d47a1;
}

.body-paskib {
    display: flex;
    width: 100;
}

.logo-paskib img {
    width: 200px;
    height: auto;
}

/* --- Struktur-Paskib --- */
.paskib {
    padding: 20px 30px;
    text-align: justify;
    width: 100%;
}

.struktur h2 {
    text-align: left;
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}
.struktur p {
    text-align: justify;
    margin-bottom: 5px;    
}

.struktur ul {
    text-align: justify;
    margin-bottom: 15px; 
    margin-left: 20px;
}

.struktur li {
    margin-bottom: 5px;    
}

/* --- Vimi-Paskib --- */
.vimi h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.vimi p {
    text-align: justify;
    margin-bottom: 5px;    
}

.vimi ul {
    text-align: justify;
    margin-bottom: 15px;   
    margin-left: 20px;
}

.vimi li {
    margin-bottom: 5px;    
}

/* --- Penghargaan-Paskib --- */
.penghargaan h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.penghargaan p {
    text-align: justify;
    margin-bottom: 5px;    
}

.penghargaan ul {
    text-align: justify;
    margin-bottom: 15px;  
    margin-left: 20px;  
}

.penghargaan li {
    margin-bottom: 5px;    
}

/* --- OSIS --- */
.content-osis {
    color: #333;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 4%;
    margin-top: 50px;
    border-radius: 10px;
}

.content-osis h1, .logo-osis {
    text-align: center;
    padding-top: 15px;
    background-color: #f4f4f4;
}

.content-osis h1 {
    color: #0d47a1;
}

.body-osis {
    display: flex;
    width: 100;
}

.logo-osis img {
    width: 200px;
    height: auto;
}

/* --- Struktur-OSIS --- */
.osis {
    padding: 20px 30px;
    text-align: justify;
    width: 100%;
}

.struktur h2 {
    text-align: left;
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}
.struktur p {
    text-align: justify;
    margin-bottom: 5px;    
}

.struktur ul {
    text-align: justify;
    margin-bottom: 15px; 
    margin-left: 20px;
}

.struktur li {
    margin-bottom: 5px;    
}

/* --- Vimi-OSIS --- */
.vimi h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.vimi p {
    text-align: justify;
    margin-bottom: 5px;    
}

.vimi ul {
    text-align: justify;
    margin-bottom: 15px;   
    margin-left: 20px;
}

.vimi li {
    margin-bottom: 5px;    
}

/* --- Kegiatan-OSIS --- */
.kegiatan h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.kegiatan p {
    text-align: justify;
    margin-bottom: 5px;    
}

.kegiatan ul {
    text-align: justify;
    margin-bottom: 15px;  
    margin-left: 20px;  
}

.kegiatan li {
    margin-bottom: 5px;    
}

/* --- PMR --- */
.content-pmr {
    color: #333;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 4%;
    margin-top: 50px;
    border-radius: 10px;
}

.content-pmr h1, .logo-pmr {
    text-align: center;
    padding-top: 15px;
    background-color: #f4f4f4;
}

.content-pmr h1 {
    color: #0d47a1;
}

.body-pmr {
    display: flex;
    width: 100;
}

.logo-pmr img {
    width: 200px;
    height: auto;
}

/* --- Struktur-PMR --- */
.pmr {
    padding: 20px 30px;
    text-align: justify;
    width: 100%;
}

.struktur h2 {
    text-align: left;
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}
.struktur p {
    text-align: justify;
    margin-bottom: 5px;    
}

.struktur ul {
    text-align: justify;
    margin-bottom: 15px; 
    margin-left: 20px;
}

.struktur li {
    margin-bottom: 5px;    
}

/* --- Vimi-PMR --- */
.vimi h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.vimi p {
    text-align: justify;
    margin-bottom: 10px;    
}

.vimi ul {
    text-align: justify;
    margin-bottom: 15px;   
    margin-left: 20px;
}

.vimi li {
    margin-bottom: 5px;    
}

/* --- Kegiatan-PMR --- */
.kegiatan-penghargaan h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.kegiatan-penghargaan p {
    text-align: justify;
    margin-bottom: 5px;    
}

.kegiatan-penghargaan ul {
    text-align: justify;
    margin-bottom: 15px;  
    margin-left: 20px;  
}

.kegiatan-penghargaan li {
    margin-bottom: 5px;    
}

/* --- Rohis --- */
.content-rohis {
    color: #333;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 4%;
    margin-top: 50px;
    border-radius: 10px;
}

.content-rohis h1, .logo-rohis {
    text-align: center;
    padding-top: 15px;
    background-color: #f4f4f4;
}

.content-rohis h1 {
    color: #0d47a1;
}

.body-rohis {
    display: flex;
    width: 100;
}

.logo-rohis img {
    width: 200px;
    height: auto;
}

/* --- Struktur-Rohis --- */
.rohis {
    padding: 20px 30px;
    text-align: justify;
    width: 100%;
}

.struktur h2 {
    text-align: left;
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}
.struktur p {
    text-align: justify;
    margin-bottom: 5px;    
}

.struktur ul {
    text-align: justify;
    margin-bottom: 15px; 
    margin-left: 20px;
}

.struktur li {
    margin-bottom: 5px;    
}

/* --- Vimi-Rohis --- */
.vimi h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.vimi p {
    text-align: justify;
    margin-bottom: 10px;    
}

.vimi ul {
    text-align: justify;
    margin-bottom: 15px;   
    margin-left: 20px;
}

.vimi li {
    margin-bottom: 5px;    
}

/* --- Kegiatan-Rohis --- */
.kegiatan h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.kegiatan p {
    text-align: justify;
    margin-bottom: 5px;    
}

.kegiatan ul {
    text-align: justify;
    margin-bottom: 15px;  
    margin-left: 20px;  
}

.kegiatan li {
    margin-bottom: 5px;    
}

/* --- Saspat --- */
.content-saspat {
    color: #333;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 4%;
    margin-top: 50px;
    border-radius: 10px;
}

.content-saspat h1, .logo-saspat {
    text-align: center;
    padding-top: 15px;
    background-color: #f4f4f4;
}

.content-saspat h1 {
    color: #0d47a1;
}

.body-saspat {
    display: flex;
    width: 100;
}

.logo-saspat img {
    width: 200px;
    height: auto;
}

/* --- Struktur-Saspat --- */
.saspat {
    padding: 20px 30px;
    text-align: justify;
    width: 100%;
}

.struktur h2 {
    text-align: left;
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}
.struktur p {
    text-align: justify;
    margin-bottom: 5px;    
}

.struktur ul {
    text-align: justify;
    margin-bottom: 15px; 
    margin-left: 20px;
}

.struktur li {
    margin-bottom: 5px;    
}

/* --- Vimi-Saspat --- */
.vimi h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.vimi p {
    text-align: justify;
    margin-bottom: 10px;    
}

.vimi ul {
    text-align: justify;
    margin-bottom: 15px;   
    margin-left: 20px;
}

.vimi li {
    margin-bottom: 5px;    
}

/* --- Kegiatan-Saspat --- */
.kegiatan h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.kegiatan p {
    text-align: justify;
    margin-bottom: 5px;    
}

.kegiatan ul {
    text-align: justify;
    margin-bottom: 15px;  
    margin-left: 20px;  
}

.kegiatan li {
    margin-bottom: 5px;    
}

/* --- Pramuka --- */
.content-pramuka {
    color: #333;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 4%;
    margin-top: 50px;
    border-radius: 10px;
}

.content-pramuka h1, .logo-pramuka {
    text-align: center;
    padding-top: 15px;
    background-color: #f4f4f4;
}

.content-pramuka h1 {
    color: #0d47a1;
}

.body-pramuka {
    display: flex;
    width: 100;
}

.logo-pramuka img {
    width: 200px;
    height: auto;
}

/* --- Struktur-Pramuka --- */
.pramuka {
    padding: 20px 30px;
    text-align: justify;
    width: 100%;
}

.struktur h2 {
    text-align: left;
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}
.struktur p {
    text-align: justify;
    margin-bottom: 5px;    
}

.struktur ul {
    text-align: justify;
    margin-bottom: 15px; 
    margin-left: 20px;
}

.struktur li {
    margin-bottom: 5px;    
}

/* --- Vimi-Pramuka --- */
.vimi h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.vimi p {
    text-align: justify;
    margin-bottom: 10px;    
}

.vimi ul {
    text-align: justify;
    margin-bottom: 15px;   
    margin-left: 20px;
}

.vimi li {
    margin-bottom: 5px;    
}

/* --- Kegiatan-Pramuka --- */
.kegiatan h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.kegiatan p {
    text-align: justify;
    margin-bottom: 5px;    
}

.kegiatan ul {
    text-align: justify;
    margin-bottom: 15px;  
    margin-left: 20px;  
}

.kegiatan li {
    margin-bottom: 5px;    
}

/*==========================================
                EKSTRAKULIKULER
==========================================*/
/* --- Futsal --- */
.content-futsal {
    color: #333;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 4%;
    margin-top: 50px;
    border-radius: 10px;
}

.content-futsal h1, .logo-futsal {
    text-align: center;
    padding-top: 15px;
    background-color: #f4f4f4;
}

.content-futsal h1 {
    color: #0d47a1;
}

.body-futsal {
    display: flex;
    width: 100;
}

.logo-futsal img {
    width: 200px;
    height: auto;
}

.deskripsi-futsal {
    font-size: 20px;
    padding: 20px 100px;
    text-align: center;
}

/* --- Struktur-Futsal --- */
.futsal {
    padding: 20px 30px;
    text-align: justify;
    width: 100%;
}

.struktur h2 {
    text-align: left;
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}
.struktur p {
    text-align: justify;
    margin-bottom: 5px;    
}

.struktur ul {
    text-align: justify;
    margin-bottom: 15px; 
    margin-left: 20px;
}

.struktur li {
    margin-bottom: 5px;    
}

/* --- Kegiatan-Futsal --- */
.kegiatan h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.kegiatan p {
    text-align: justify;
    margin-bottom: 5px;    
}

.kegiatan ul {
    text-align: justify;
    margin-bottom: 15px;  
    margin-left: 20px;  
}

.kegiatan li {
    margin-bottom: 5px;    
}

/* --- VOLI --- */
.content-voli {
    color: #333;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 4%;
    margin-top: 50px;
    border-radius: 10px;
}

.content-voli h1, .logo-voli {
    text-align: center;
    padding-top: 15px;
    background-color: #f4f4f4;
}

.content-voli h1 {
    color: #0d47a1;
}

.body-voli {
    display: flex;
    width: 100;
}

.logo-voli img {
    width: 200px;
    height: auto;
}

.deskripsi-voli {
    font-size: 20px;
    padding: 20px 100px;
    text-align: center;
}

/* --- Struktur-Voli --- */
.voli {
    padding: 20px 30px;
    text-align: justify;
    width: 100%;
}

.struktur h2 {
    text-align: left;
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}
.struktur p {
    text-align: justify;
    margin-bottom: 5px;    
}

.struktur ul {
    text-align: justify;
    margin-bottom: 15px; 
    margin-left: 20px;
}

.struktur li {
    margin-bottom: 5px;    
}

/* --- Kegiatan-Voli --- */
.kegiatan h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.kegiatan p {
    text-align: justify;
    margin-bottom: 5px;    
}

.kegiatan ul {
    text-align: justify;
    margin-bottom: 15px;  
    margin-left: 20px;  
}

.kegiatan li {
    margin-bottom: 5px;    
}

/* --- Basket --- */
.content-basket {
    color: #333;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 4%;
    margin-top: 50px;
    border-radius: 10px;
}

.content-basket h1, .logo-basket {
    text-align: center;
    padding-top: 15px;
    background-color: #f4f4f4;
}

.content-basket h1 {
    color: #0d47a1;
}

.body-basket {
    display: flex;
    width: 100;
}

.logo-basket img {
    width: 200px;
    height: auto;
}

.deskripsi-basket {
    font-size: 20px;
    padding: 20px 100px;
    text-align: center;
}

/* --- Struktur-Basket --- */
.basket {
    padding: 20px 30px;
    text-align: justify;
    width: 100%;
}

.struktur h2 {
    text-align: left;
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}
.struktur p {
    text-align: justify;
    margin-bottom: 5px;    
}

.struktur ul {
    text-align: justify;
    margin-bottom: 15px; 
    margin-left: 20px;
}

.struktur li {
    margin-bottom: 5px;    
}

/* --- Kegiatan-Basket --- */
.kegiatan h2 {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.kegiatan p {
    text-align: justify;
    margin-bottom: 5px;    
}

.kegiatan ul {
    text-align: justify;
    margin-bottom: 15px;  
    margin-left: 20px;  
}

.kegiatan li {
    margin-bottom: 5px;    
}

.garis {
    border: none;
    height: 4px;
    background-color: #0d47a1;
    margin: 20px 5%;
}

