.footer {
    background-color: #f5f7fa;
}

.main-footer  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.second-footer {
    width: 80%;
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
    text-align: justify;
    background-color: #f5f7fa;
}

.section-footer {
    width: 45%;
    margin-bottom: 20px;
}

.section-footer h2 {
    margin-bottom: 15px;
    color: #0d47a1;
}

.section-footer p {
    margin-bottom: 10px;
    max-width: 700px;
    gap: 100px;
    color: #37474f;
}

.social-icon {
    font-size: 30px;  
    margin: 0 10px;
    transition: 0.3s; 
}

.social-icon:hover {
    color: #ffffff; 
    transform: scale(1.5);
}

