.parallax {
  background-image: url("/images/background-dark.jpeg");
  min-height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.foto {
    color: whitesmoke;
    padding: 5px 5%;
    text-align: center;
    font-size: 25px;
    height: 200px;
}

.foto h1 {
    padding-top: 70px;
}

/*Body*/
.row > .colomn {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
    padding: 20px;
}

.row img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0,3s ease;
}

.row img:hover {
    transform: scale(1.05);
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.colomn{
    float: left;
    width: 25%;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

