/*==========================================
            FOTO-HERO & PARALLAX
==========================================*/
.hero {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    text-align: center;
    color: white;

    /* --- Parallax --- */
    background-image: url("/images/background-dark.jpeg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foto {
    position: relative;
    z-index: 2; 
    max-width: 800px;
    padding: 20px;
}

.foto h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    line-height: 1.2;
}

/*==========================================
                FOTO-CONTENT
==========================================*/
.filter-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 0; 
}

.filter-btn {
    padding: 10px 20px;
    border: 2px solid #3182ce; 
    background: transparent;
    color: #3182ce;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    font-size: 110%;
}

.filter-btn:hover, 
.filter-btn.active {
    background: #3182ce;
    color: white;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    padding: 20px 0.1%; 
    max-width: 90%;
    margin: 0 auto;
}

.gallery-item {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
    transition: transform 0.3s ease;
    animation: fadeIn 0.5s ease; 
}

.gallery-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); ;
}

.gallery-item img {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
    display: block;
}

.caption {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #333;
    font-weight: 500;
    line-height: 1.5;
}

.gallery-item.hide {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

/*==========================================
    MEDIA QUERIES (KHUSUS TAMPILAN HP)
========================================= */
@media screen and (max-width: 768px) {
    
.gallery-container {
    grid-template-columns: repeat(2, 1fr); 
}}