* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

/*HEADING*/
.navbar {
    background-color: #f5f7fa; 
    display: flex;             
    justify-content: space-between;
    align-items: center;       
    padding: 5px 5%; 
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo img {
    height: 70px;              
}

.navbar {
  overflow: hidden;
  background-color: #f5f7fa;
  font-family: Poppins;
}

/*DROPDOWN*/
.navbar a {
  float: left;
  font-size: 16px;
  color: #1e3a8a;
  text-align: center;
  padding: 14px 16px;
  position: relative;
  text-decoration: none;
  transition: width 0.3s ease;
}

.navbar a:hover {
  color: #2a8ffc;
  background-color: #f5f7fa;
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #2a8ffc;
  transition: width 0.3s ease;
}

.navbar a:hover::after{
  width: 100%;
}

.dropbtn, .menu a {
    background: none;
    border: none;;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.dropbtn:hover, .menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #2a8ffc;
    transform: translateY(-3px); 
}

.dropdown:hover .fa-caret-down {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: #1e3a8a;
  padding: 15px 15px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f7fa;
  min-width: 200px;
  position: fixed;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  animation: fadeIn 0.3s ease-in-out;
  border-top: 5px solid #2a8ffc;
  border-radius: 8px;
}

.dropdown-content a {
  float: none;
  color: #1e3a8a;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a::after {
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}