/*MP-Parallax*/
.parallax {
  background-image: url("/images/background-dark.jpeg");
  min-height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mp {
    color: whitesmoke;
    padding: 5px 5%;
    text-align: center;
    font-size: 25px;
    height: 200px;
}

.mp h1 {
    padding-top: 70px;
}

/*MP-Body*/
.logo-mp {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 20px 0;
}

.logo-mp img {
    width: 250px;
    height: auto;
}

.deskripsi-mp {
    color: #333;
    padding: 20px 10%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 5%;
}

.deskripsi-mp h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.deskripsi-mp p {
    margin-bottom: 15px;    
}

.garis-1 {
    border: none;
    height: 4px;
    background-color: #535d72;
    margin: 20px;
    margin-bottom: 25px;
}

.kompetensi-mp {
    color: #333;
    padding: 20px 10%;
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 5%;
}

.kompetensi-mp h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.kompetensi-mp ul {
    list-style-type: disc;
    padding-left: 20px;
}

.kompetensi-mp ul li {
    margin-bottom: 10px;
}

.garis-2 {
    border: none;
    height: 4px;
    background-color: #535d72;
    margin: 20px;
    margin-bottom: 25px;
}

.peluang-mp {
    color: #333;
    padding: 20px 10%;
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 5%;
}

.peluang-mp h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.peluang-mp ul {
    list-style-type: disc;
    padding-left: 20px;
}

.peluang-mp ul li {
    margin-bottom: 10px;
}

.garis-3 {
    border: none;
    height: 4px;
    background-color: #535d72;
    margin: 20px;
    margin-bottom: 25px;
}