/*RPL-Parallax*/
.hero {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    text-align: center;
    color: white;

    /*Parallax*/
    background-image: url("/images/background-dark.jpeg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rpl {
    position: relative;
    z-index: 2; 
    max-width: 800px;
    padding: 20px;
}

.rpl h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    line-height: 1.2;
}

/*RPL-BODY*/
.logo-rpl {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px 5%;
}

.logo-rpl img {
    width: 200px;
    height: auto;
}

.deskripsi-rpl {
    color: #333;
    padding: 20px 10%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 5%;
    border-radius: 10px;
}

.deskripsi-rpl h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;
}

.deskripsi-rpl p {
    margin-bottom: 15px;    
}

.garis {
    border: none;
    height: 4px;
    background-color: #1e3a8a;
    margin: 20px;
    margin-bottom: 25px;
}

.kompetensi-rpl {
    color: #333;
    padding: 20px 10%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 5%;
    border-radius: 10px;
}

.kompetensi-rpl h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;
}

.kompetensi-rpl ul {
    margin-bottom: 15px;   
    margin-left: 20px; 
}

.kompetensi-rpl ul li {
    margin-bottom: 10px;
}

.garis {
    border: none;
    height: 4px;
    background-color: #1e3a8a;
    margin: 20px;
    margin-bottom: 25px;
}

.peluang-rpl {
    color: #333;
    padding: 20px 10%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 5%;
    border-radius: 10px;
}

.peluang-rpl h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;
}

.peluang-rpl ul {
    margin-bottom: 15px;   
    margin-left: 20px; 
}

.peluang-rpl ul li {
    margin-bottom: 10px;
}

.peluang-rpl p {
    margin-bottom: 15px;    
}

.garis {
    border: none;
    height: 4px;
    background-color: #1e3a8a;
    margin: 20px;
    margin-bottom: 25px;
}