/*==========================================
            SEJARAH-PARALLAX
==========================================*/
.hero {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    text-align: center;
    color: white;

    /* --- Parallax --- */
    background-image: url("/images/background-dark.jpeg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sejarah {
    position: relative;
    z-index: 2; 
    max-width: 800px;
    padding: 20px;
}

.sejarah h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    line-height: 1.2;
}

/*==========================================
                SEJARAH-BODY
==========================================*/
.content-sejarah {
    color: #333;
    padding: 20px 15%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 10%;
    margin-top: 50px;
    border-radius: 10px;
}

.content-sejarah h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.content-sejarah p {
    margin-bottom: 15px;    
}

.content-sejarah ul, ol {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}

.content-sejarah li {
    margin-bottom: 10px;
}

.garis {
    border: none;
    height: 4px;
    background-color: #1e3a8a;
    margin: 20px;
    margin-bottom: 25px;
}

/*==========================================
                FILOSOFI-BODY
==========================================*/
.content-filosofi {
    color: #333;
    padding: 20px 15%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 10%;
    margin-top: 50px;
    border-radius: 10px;
}

.content-filosofi h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #0d47a1;   
}

.content-filosofi ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}

.content-filosofi li {
    margin-bottom: 10px;
}

.garis {
    border: none;
    height: 4px;
    background-color: #1e3a8a;
    margin: 20px;
    margin-bottom: 25px;
}
