* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #2a8ffc;
}

/*HEADING*/
.navbar {
    background-color: #2a8ffc; 
    display: flex;             
    justify-content: space-between;
    align-items: center;       
    padding: 5px 5%;          
}

.logo img {
    height: 75px;              
}

.navbar {
  overflow: hidden;
  background-color: #2a8ffc;
  font-family: Arial, Helvetica, sans-serif;
}

/*DROPDOWN*/
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #2a8ffc;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2a8ffc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*BODY*/
.parallax {
  background-image: url("/images/background-dark.jpeg");
  min-height: 400px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-section {
    display: flex;
    align-items: center;      
    gap: 100px;                
    padding: 50px;
}

.about-image img {
    width: 450px;
    border-radius: 10px;
}

.about-text {
    color: white;
    max-width: 800px;
    text-align: justify;
}

.about-text h2 {
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2a8ffc;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

/**/
.statistik {
    display: flex;
    width: 100%;
}

.stat-box {
    text-align: center;
    width: 33.33%;
    color: #fff;
    padding: 40px 20px;
}

.stat-box i {
    font-size: 40px;
    margin-bottom: 15px;
}

.stat-box h3 {
    margin: 10px 0;
    font-size: 20px;
}

.stat-box p {
    font-size: 14px;
    line-height: 1.6;
}

.w-1 {
    background: linear-gradient(135deg, #0d47a1, #1976d2);
}

.w-2 {
    background: linear-gradient(135deg, #1565c0, #1e88e5);
}

.w-3 {
    background: linear-gradient(135deg, #1e88e5, #42a5f5);
}

.vimi {
    background-color: royalblue;
    color: whitesmoke;
    padding: 5px 5%;
    text-align: center;
    font-size: 25px;
    height: 200px;
}

.vimi h1 {
    padding-top: 70px;
}

.Visi {
    color: whitesmoke;
    text-align: center;

}

.Visi h3, p {
    text-align: justify;
}
