/*==========================================
            TENDIK-HERO & PARALLAX
==========================================*/
.hero {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    text-align: center;
    color: white;

    /* --- Parallax --- */
    background-image: url("/images/background-dark.jpeg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tendik {
    position: relative;
    z-index: 2; 
    max-width: 800px;
    padding: 20px;
}

.tendik h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    line-height: 1.2;
}