/*TKJ-Parallax*/
.hero {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    text-align: center;
    color: white;

    /*Parallax*/
    background-image: url("/images/background-dark.jpeg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tkj {
    position: relative;
    z-index: 2; 
    max-width: 800px;
    padding: 20px;
}

.tkj h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    line-height: 1.2;
}

/*TKJ-Body*/
.logo-tkj {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 0;
}

.logo-tkj img {
    width: 230px;
    height: auto;
}

.deskripsi-tkj {
    color: #333;
    padding: 20px 10%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 5%;
    border-radius: 10px;
}

.deskripsi-tkj h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;
}

.deskripsi-tkj p {
    margin-bottom: 15px;    
}

.garis {
    border: none;
    height: 4px;
    background-color: #1e3a8a;
    margin: 20px;
    margin-bottom: 25px;
}

.kompetensi-tkj {
    color: #333;
    padding: 20px 10%;
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 5%;
    border-radius: 10px;
}

.kompetensi-tkj h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;
}

.kompetensi-tkj ul {
    list-style-type: disc;
    padding-left: 20px;
}

.kompetensi-tkj ul li {
    margin-bottom: 10px;
}

.garis {
    border: none;
    height: 4px;
    background-color: #1e3a8a;
    margin: 20px;
    margin-bottom: 25px;
}

.peluang-tkj {
    color: #333;
    padding: 20px 10%;
    text-align: left;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 5%;
    border-radius: 10px;
}

.peluang-tkj h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;
}

.peluang-tkj ul {
    list-style-type: disc;
    padding-left: 20px;
}

.peluang-tkj ul li {
    margin-bottom: 10px;
}

.garis {
    border: none;
    height: 4px;
    background-color: #1e3a8a;
    margin: 20px;
    margin-bottom: 25px;
}