.parallax {
  background-image: url("/images/background-dark.jpeg");
  min-height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video {
    color: whitesmoke;
    padding: 5px 5%;
    text-align: center;
    font-size: 25px;
    height: 200px;
}

.video h1 {
    padding-top: 70px;
}

/*Body*/
.galeri-section {
    padding: 50px 20px;
    text-align: center;
}

.galeri-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}

.video.grid {
    float: left;
    gap: 20px;
    padding: 0 4px;
}

.video-item {
    float: left;
    width: 50%;
    padding: 10px;
    margin-bottom: 25px;
}

.video-grid:after {
  content: "";
  display: table;
  clear: both;
}

.video-item iframe {
    margin-top: 8px;
    vertical-align: middle;
    width: 600px;
    height: 350px;
    border-radius: 8px;
    border: 2px solid #333;
}

.video-item p {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

@media (max-width: 768px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}