.parallax {
  background-image: url("/images/background-dark.jpeg");
  min-height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video {
    color: whitesmoke;
    padding: 5px 5%;
    text-align: center;
    font-size: 25px;
    height: 200px;
}

.video h1 {
    padding-top: 70px;
}

.galeri-section {
    padding: 50px 20px;
    text-align: center;
}

.video.grid {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: 1fr, 1fr;
    gap: 20px;
    padding: 20px;
}

.video-item iframe {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    border: 2px solid #0044cc;
}

.video-item p {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

@media (max-width: 768px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}