/*==========================================
                VIMI-PARALLAX
==========================================*/
.hero {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    text-align: center;
    color: white;

    /* --- Parallax --- */
    background-image: url("/images/background-dark.jpeg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vimi {
    position: relative;
    z-index: 2; 
    max-width: 800px;
    padding: 20px;
}

.vimi h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    line-height: 1.2;
}

/*==========================================
                VIMI-BODY
==========================================*/
.visi {
    color: #333;
    padding: 20px 10%;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4   ;
    margin: 10px 5%;
    margin-top: 50px;
}

.visi h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;
}

.visi p {
    margin-bottom: 15px;    
}

.garis {
    border: none;
    height: 4px;
    background-color: #1e3a8a;
    margin: 20px;
    margin-bottom: 25px;
}

.misi {
    color: #333;
    padding: 20px 13%;
    text-align: left;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 10px 5%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.misi h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #0d47a1;
}

.misi ul {
    list-style-type: disc;
    padding-left: 20px;
}

.misi ul li {
    margin-bottom: 10px;
    text-align: justify;
}


.garis {
    border: none;
    height: 4px;
    background-color: #1e3a8a;
    margin: 20px;
    margin-bottom: 25px;
}