.parallax {
  background-image: url("/images/background-dark.jpeg");
  min-height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vimi {
    color: whitesmoke;
    padding: 5px 5%;
    text-align: center;
    font-size: 25px;
    height: 200px;
}

.vimi h1 {
    padding-top: 70px;
}

.Visi {
    color: black;
    text-align: center;
    padding: 25px 5%;
    padding-left: 5%;
    background-color: rgb(226, 221, 221);
    margin: 50px 10%;
}

.Visi h3 {
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 6px;
}

.Visi p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.garis-1 {
    border: none;
    height: 4px;
    background-color: #535d72;
    margin: 20px 8%; 
    margin-bottom: 25px;
}

.Misi {
    color: black;
    text-align: center;
    padding: 25px 5%;
    padding-left: 5%;
    background-color: rgb(226, 221, 221);
    margin: 50px 10%;
    margin-bottom: 20px;
}

.Misi h3 {
    font-size: 50px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 6px;
}

.Misi ol {
    display: inline-block; 
    text-align: justify;      
    list-style-position: inside;
    max-width: 900px;
    margin-bottom: 5px;
}

.garis-2 {
    border: none;
    height: 4px;
    background-color: #535d72;
    margin: 20px 5%; 
    margin-top: 15px;
}