.parallax {
  background-image: url("/images/background-dark.jpeg");
  min-height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vimi {
    color: whitesmoke;
    padding: 5px 5%;
    text-align: center;
    font-size: 25px;
    height: 200px;
}

.vimi h1 {
    padding-top: 70px;
}

.Visi {
    color: whitesmoke;
    text-align: center;
    padding: 25px 5%;
    padding-left: 5%;
}

.Visi h3 {
    text-align: center;
    font-size: 50px
}

.Visi p {
    font-size: 20px;
    text-align: center;
}

.Misi {
    color: whitesmoke;
    text-align: center;
    padding: 25px 5%;
    padding-left: 5%;
}

.Misi h3 {
    font-size: 50px;
    text-align: center;
}

.Misi ol {
    display: inline-block; 
    text-align: justify;      
    list-style-position: inside;
    max-width: 1000px;
}